<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta charset="utf-8">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
window.jQuery || document.write('<script src="http://mysite.com/jquery.min.js"><\/script>')
</script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat:300" rel="stylesheet">
  <link rel="shortcut icon" href="app/app/assets/images/icons"/>
	<title></title>
</head>
<body>
	<script id="__bs_script__">
	</script>



<div class="top_nav">
	<!-- Navigation -->
<div class="b-nav hidden-large-up">
  <li><a class="b-link" href="https://github.com/mblode/burger" target="_blank">Work</a></li>
  <li><a class="b-link" href="https://github.com/mblode" target="_blank">About</a></li>
  <li><a class="b-link" href="https://codepen.io/mblode/" target="_blank">Contact</a></li>
</div>

<!-- Burger-Icon -->
<div class="b-container hidden-large-up">
  <div class="b-menu">
    <div class="b-bun b-bun--top"></div>
    <div class="b-bun b-bun--mid"></div>
    <div class="b-bun b-bun--bottom"></div>
  </div>

  <!-- Burger-Brand -->
  <a href="#" class="b-brand"></a>
</div>










		<div class="right_top_nav hidden-large-down">
			<button class="astext nav_button_top" type="button">Work</button>
      <button class="astext nav_button_top" type="button">About</button>
      <button class="astext nav_button_top" type="button">Contact</button>
		</div>
		<div class="left_top_nav hidden-large-down">
			Sweet Logo
		</div>
	</div>
	<div class="large_mid_container">
		<div class="home_left">
			<div class="my_name">
				Bear Mize
			</div>
			<div class="tiny_line"></div>
			<div class="home_description">
				Hi, I'm Bear.
        I'm a Product Manager and Web Developer based in California.
			</div>
		</div>
		<div class="home_right">
    </div>
	</div>
	<div class="bottom_nav">
    <div class="bottom_nav_left">
      2018 Barrett Mize. Victory or Death.
    </div>
    <div class="bottom_nav_right">
    <button class="astext nav_button_bottom" name="button" type="button" ><a 		href="https://www.linkedin.com/in/barrettdmize/"><img src="assets/linked in"></a></button>
    <button class="astext nav_button_bottom" name="button" type="button"><a href="https://twitter.com/Bear_Duke"><img src="assets/twitter.svg"></a></button>
    <button class="astext nav_button_bottom" name="button" type="button"><a href="https://www.instagram.com/bear_duke"><img src="assets/instagram.svg"></a></button>
    <button class="astext nav_button_bottom" name="button" type="button"><a href="https://www.facebook.com/bdmize"><img src="assets/facebook.svg"></a></button>
		<button class="astext github_icon" name="button" type="button"><a href="https://github.com/barrettdmize"><img src="assets/github.svg"></a></button>
	</div>
  </div>
</body>
</html>
