<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat:300" rel="stylesheet">
  <link rel="shortcut icon" href="app/app/assets/images/icons"/>
	<title></title>
</head>
<body>
	<script id="__bs_script__">
	//<![CDATA[
	   document.write("<script async src='http://HOST:3003/browser-sync/browser-sync-client.js?v=2.24.5'><\/script>".replace("HOST", location.hostname));
	//]]>
	</script>
	<div class="top_nav">
		<div class="right_top_nav">
			<button class="astext nav_button_top" type="button">Work</button>
      <button class="astext nav_button_top" type="button">About</button>
      <button class="astext nav_button_top" type="button">Contact</button>
		</div>
		<div class="left_top_nav">
			Sweet Logo
		</div>
	</div>
	<div class="large_mid_container">
		<div class="home_left">
			<div class="my_name">
				Bear Mize
			</div>
			<div class="tiny_line"></div>
			<div class="home_description">
				Hi, I'm Bear.
        I'm a Product Manager and Web Developer based in California.
			</div>
		</div>
		<div class="home_right">
    </div>
	</div>
	<div class="bottom_nav">
    <div class="bottom_nav_left">
      2018 Barrett Mize. Victory or Death.
    </div>
    <div class="bottom_nav_right">
    <button class="astext nav_button_bottom" name="button" type="button" ><img src="assets/linked in"></button>
    <button class="astext nav_button_bottom" name="button" type="button"><img src="assets/twitter.svg"></button>
    <button class="astext nav_button_bottom" name="button" type="button"><img src="assets/instagram.svg"></button>
    <button class="astext nav_button_bottom" name="button" type="button"><img src="assets/facebook.svg"></button>
		<button class="astext nav_button_bottom" name="button" type="button"><img src="assets/facebook.svg"></button>
	</div>
  </div>
</body>
</html>
