// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//Color palette from lightest to darkest:
// #F9F9F9, #DFDFDE2, #AAA6AB, #60575C, #8C838B
body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: #040406;
	font-family: 'Montserrat', sans-serif;
  word-spacing: .15em;
}
//adding hidden class to help with styling
.hidden {
  display: none; }
//Top Nav Styling
.top_nav {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	height: 25vh;
	width: 100vw;
	color: white;
}
.left_top_nav {
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	height: 10vh;
	width: 10vw;
	margin-top: 9vh;
	margin-left: 15vh;
}
.right_top_nav {
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	margin-top: 6vh;
	margin-right: 10vh;
}

.large_mid_container {
	height: 55vh;
	display: flex;
}
.home_left {
	height: 50vh;
	width: 49vw;
	display: inline-block;
	flex: 1;
}
.home_right {
	display: inline-block;
	background-image: url('Bear_Mize_1.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	height: auto;
	flex: 1;
}
.my_name {
	height: 24vh;
	vertical-align: bottom;
	line-height: 25vh;
	margin-left: 15vh;
	font-size: 3em;
	flex: 1;
	color: #f9f9f9;
	font-family: 'Lato', sans-serif;
}
.tiny_line {
	height: 1px;
	background-color: #DFDDE2;
	margin-left: 15vh;
	border-radius: 1px;
	width: 10vh;
	flex: 1;
}
.home_description {
	margin-top: 5vh;
	margin-left: 15vh;
	flex: 1;
	color: #8c838b;
  line-height: 2em;
}
.bottom_nav {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	background-color: #2b2b2b;
	color: #AAA6AB;
}
.bottom_nav_left {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	height: 10vh;
	width: 10vw;
	margin-top: 10vh;
	margin-left: 15vh;
  font-size: .75em;
}
.bottom_nav_right {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	height: 10vh;
	margin-top: 6vh;
	margin-right: 10vh;
	text-align: right;
}
//button styling
.astext {
	background: none;
	border: none;
	cursor: pointer;
	color: #AAA6AB;
}
.nav_button_top{
	height: 10vh;
	width: 8vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
.nav_button_bottom{
	height: 10vh;
	width: 5vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
.github_icon {
	height: 10vh;
	width: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}


//First break point of 725px
@media (max-width: 726px) {
	.top_nav {
		height: 11vh;
	}
	.left_top_nav {
		margin-left: 10vh;
	}
	.right_top_nav{
		font-size: .75em;
	}
	.nav_button_top{
		height: 10vh;
		width: 12vw;
	  font-family: 'Montserrat', sans-serif;
	  font-size: 1em;
	}
		.large_mid_container {
			height: 100vh;
			display: block;
		}
		.home_right {
			height: 50vh;
			display: block;
			align-items: center;
			width: 100%;
		}
		.home_left {
			height: 50vh;
			display: block;
			align-items: center;
			width: 100%;
		}
		.my_name {
			line-height: 1vh;
		}
		.my_name {
			height: 24vh;
			vertical-align: bottom;
			line-height: 20vh;
			margin-left: 10vh;
		}
		.tiny_line {
			margin-left: 10vh;
			line-height: 20vh;
		}
		.home_description {
			margin-left: 10vh;
		}
		.bottom_nav_left {
		margin-left:10vh;
		}
		.nav_button_bottom {
			width: auto;
		}
		.bottom_nav{
			position: asolute;
		  bottom: 0;
		  width: 100%;
			height: 25vh;
		}
		//everything below this is the hamburger nav
		$color-stack:
	  (group: primary, id: normal, color: #fff),
	  (group: complement, id: normal, color: #444);

	@function color($group, $shade:normal, $transparency:1) {
	  @each $color in $color-stack {
	    $c-group: map-get($color, group);
	    $c-shade: map-get($color, id);
	    @if($group == map-get($color, group) and $shade == map-get($color, id)){
	      @return rgba(map-get($color, color), $transparency);
	    }
	  }
	}

	$b-height: 60px; //Height (and width) of the burger menu
	$b-margin-top: 30px; //Burger menu margin (distance from top)
	$b-margin-left: 30px; //Burger menu margin (distance from left)
	$b-border-width: 2px; //Width of the borders and 'buns'
	$b-bun-width: 25px; //Width of the 'buns'
	$b-bun-height: $b-border-width; //Height of the 'buns'
	$b-border-radius: 50%; //Change the border radius of the menu

	$b-trans-speed: .4s; //Transition speed settings
	$b-transition: all $b-trans-speed ease; //Transitions

	$b-font-size: 24px; //Font size of brand and links
	$b-font-family: Helvetica-Neue, Helvetica, Arial, sans-serif; //Font family of the brand and links
	$b-font-weight: 300; //Font weight of brand and links
	$b-txt-pad: 30px; //Left padding on both brand and links

	$b-line-height: ($b-height / 2 - ($b-font-size / 2.8)); //Vertically centers brand to menu
	$b-txt-pad-top: ($b-margin-top + $b-height + $b-txt-pad); //Top margin for first link element
	$b-bun-width-half: ($b-bun-width / 2); //Half bun width used for calculation
	$b-pad-left: ($b-height / 2 - $b-bun-width-half - 2); //Horizontally centers bun in menu
	$b-pad-top: ($b-height / 2 - $b-bun-width-half); //Vertically centers bun in menu

	@keyframes slideInLeft {
	  0% {
	    transform: translate3d(-250px, 0, 0);
	    visibility: visible;
	  }

	  100% {
	    transform: translate3d(0, 0, 0);
	  }
	}

	@keyframes slideOutLeft {
	  0% {
	    transform: translate3d(0, 0, 0);
	  }

	  100% {
	    transform: translate3d(-250px, 0, 0);
	    visibility: hidden;
	  }
	}

	* {
	  box-sizing: border-box;
	}

	body {
	  &:after {
	    background: color(primary);
	    content: '';
	    height: 100%;
	    left: 0;
	    opacity: 0;
	    overflow: auto;
	    padding: 0;
	    position: absolute;
	    top: 0;
	    transition: $b-transition;
	    width: 100%;
	  }

	  &.open {
	    overflow: hidden;
	  }

	  &.open:after {
	    opacity: 1;
	    visibility: visible;
	  }
	}

	.b-nav {
	  position: absolute;
	  z-index: 11;

	  &:not(.open) {
	    visibility: hidden;
	  }

	  li {
	    color: color(complement);
	    list-style-type: none;
	    padding: 10px;
	    text-align: left;
	    transform: translateX(-250px);
	  }

	  li:not(.open) {
	    animation-duration: $b-trans-speed;
	    animation-fill-mode: both;
	    animation-name: slideOutLeft;
	  }

	  li:first-child {
	    padding-top: $b-txt-pad-top;
	  }

	  &.open {
	    visibility: visible;

	    li {
	      animation-duration: $b-trans-speed;
	      animation-fill-mode: both;
	      animation-name: slideInLeft;
	    }
	  }
	}

	.b-link {
	  background: transparent;
	  border-left: color(complement, normal, 0) solid $b-border-width;
	  color: color(complement);
	  font-family: $b-font-family;
	  font-size: $b-font-size;
	  font-weight: $b-font-weight;
	  margin-left: $b-margin-left;
	  text-decoration: none;
	  transition: $b-transition;
	  width: auto;

	  &:hover,
	  &--active {
	    border-left: color(complement) solid $b-border-width;
	    padding-left: $b-txt-pad;
	  }
	}

	.b-menu {
	  background: color(primary);
	  border: color(primary) solid $b-border-width;
	  border-radius: $b-border-radius;
	  cursor: pointer;
	  display: inline-block;
	  height: $b-height;
	  padding-left: $b-pad-left;
	  padding-top: $b-pad-top;
	  position: relative;
	  transition: $b-transition;
	  user-select: none;
	  width: $b-height;
	  z-index: 12;

	  &:hover {
	    border: color(complement) solid $b-border-width;
	  }
	}

	.b-bun {
	  background: color(complement);
	  position: relative;
	  transition: $b-transition;

	  &--top {
	    height: $b-bun-height;
	    top: 0;
	    width: $b-bun-width;
	  }

	  &--mid {
	    height: $b-bun-height;
	    top: 8px;
	    width: $b-bun-width;
	  }

	  &--bottom {
	    height: $b-bun-height;
	    top: 16px;
	    width: $b-bun-width;
	  }
	}

	.b-brand {
	  color: color(primary);
	  font-family: $b-font-family;
	  font-size: $b-font-size;
	  font-weight: $b-font-weight;
	  margin-left: $b-txt-pad;
	  position: relative;
	  text-decoration: none;
	  top: -$b-line-height;
	  transition: $b-transition;
	  z-index: 13;
	}

	.b-container {
	  height: $b-height;
	  left: $b-margin-left;
	  position: absolute;
	  top: $b-margin-top;

	  &:hover:not(.open) {
	    .bun-top,
	    .bun-mid,
	    .bun-bottom {
	      background: color(primary);
	    }
	  }

	  &.open {
	    .b-main {
	      border: color(complement) solid $b-border-width;
	    }

	    .b-bun--top {
	      background: color(complement);
	      top: 9px;
	      transform: rotate(45deg);
	    }

	    .b-bun--mid {
	      opacity: 0;
	    }

	    .b-bun--bottom {
	      background: color(complement);
	      top: 5px;
	      transform: rotate(-45deg);
	    }

	    .b-brand {
	      color: color(complement);
	    }
	  }
	}
}

//burger breakpoint nav
.b-nav, .b-container {
	&.hidden-large-up {
		@media (min-width: 415px) {display: none;}
	}
}
.right_top_nav, .left_top_nav {
	&.hidden-large-down {
		@media (max-width: 416px) {display: none;}
	}
}
